<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
          http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
          http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--设置Controller控制器的扫描地址-->
    <context:component-scan base-package="com.wishuok.controller" />

    <!-- 配置springmvc返回数据的数据格式，注意必须放在<mvc:annotation-driven>之前 -->
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
        <property name="messageConverters">
            <list>
                <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                    <property name="supportedMediaTypes">
                        <list>
                            <value>text/plain;charset=UTF-8</value>
                            <value>text/html;charset=UTF-8</value>
                            <value>application/json;charset=UTF-8</value>
                        </list>
                    </property>
                </bean>
            </list>
        </property>
    </bean>

    <!--注解驱动，很多配置都需要它(比如上传下载，类型转换器...)，一般都会添加该配置-->
    <mvc:annotation-driven />

    <!--
       静态资源映射，应为WEB-INF是一个安全目录，不能使用get访问，而外部的js，css都是属性get访问，所有需要映射，不然无法读取
       location:项目真实路径  mapping：映射路径
    -->
    <mvc:resources mapping="/resource/**" location="/WEB-INF/resource" />

    <!--视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/" />
        <property name="suffix" value=".jsp" />
    </bean>

</beans>